
!README.txt
![Aa]ssets/
![Pp]rojectSettings/
Assets/Art/UI/MainMenu/eye_pupil.PNG.meta
Assets/Resources/Locales/EN/localeText_EN_old.csv
Assets/Resources/Locales/EN/localeText_EN_old.csv.meta
/.vscode

